CLOUDFLARE_AUDIT_TOKEN=
CLOUDFLARE_ZONE_NAMES=s1servers.com,s1ds.com
CLOUDFLARE_HOSTS=s1servers.com,www.s1servers.com,docs.s1servers.com,s1ds.com,www.s1ds.com,docs.s1ds.com
CLOUDFLARE_LOOKBACK_HOURS=12
CLOUDFLARE_INCLUDE_BOT_SCORE=false
CLOUDFLARE_INCLUDE_NETWORK_DETAIL=false
